body {
  background: #001628;
  color: #777;
  padding: 2em;
  font-family: sans-serif;
  line-height: 1.15;
}
hr { /*dummy content*/
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}
hr:last-child {  /*dummy content*/
  margin-right: 60%;
}
hr.image { /*dummy content*/
  padding-bottom: 50%;
}
h1{
  font-size: 1.5em;
}
.page {
  padding: 2em;
  background: #cecece;
  max-width: 1200px;
  margin:0 auto;
}
.archive {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-auto-flow:dense; */
  grid-gap: 1em;
}
.article {
  padding: 1em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}
.one{

}
.two{

}
.three{
/* grid-column:3/7; */
/* grid-column: span 3; */
}
.four{

}
.five{

}
.six{

}
.seven{

}
.eight{

}
.nine{

}
.ten{

}
.eleven{

}
.twelve{

}
.thirteen{

}
.fourteen{

}
.fiftenn{

}
.sixteen{

}
.seventeen{

}
@media only screen and (min-width: 760px) {
  body {
    padding:4em;
  }
  .archive {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(5, 1fr); */
    grid-auto-flow:dense;
    grid-gap: 1em;
  }
  .three{
  /* grid-column:3/7; */
  grid-column: span 2;
  }
}
@media only screen and (min-width: 760px) {
  .archive {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

}
