body{
  color:black;
}
.main-title{
  color: red;
}
#main-text{
  color:green;
}
p{
  color: red;
}
.color-demo{
  background:rgba(51, 93, 158, .5);
  height:100px;
  width:750px;
  height:500px;
}
.color-demo1{
  background: rgba(255,255,255,.5);
  margin:10px;
  padding:20px;

}
body{
  background: #efefef;
}
.image-bg{
  background-image: url("../images/beach-sm.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: repeat-x;
  width:850px;
  height: 450px;
  margin:20px;
  background-color: #cccccc;
}
.content-1{
  background-color: #000000;
  color:white;
  padding:35px;

}
